*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    cursor: none;
    scroll-behavior: smooth;
    overflow-x: hidden;

    @include respond(tab-land) { //1200
        font-size: 56.25%; //1rem = 9px
    }
    @include respond(tab-port) { //900
        font-size: 50%; //1rem = 8px
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px
    }
    @include respond(tab-land) {
        cursor: auto;
    }
}

body {
    box-sizing: border-box;
    background-color: $color-beige;
    width: 100%;
    overflow: hidden;
}

::selection {
    background: $color-orange;
    color: $color-beige;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
      text-decoration: none;
      color: inherit;
      cursor: none;
}