//COLOURS
$color-background: #F8F6F0;
$color-red-dark: #BE020D;
$color-orange-light: #f93700;
$color-pink-light: #f9dddd;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light: #E8E8E8;

$color-white: #fff;
$color-black: #000;

//FONT
$font-primary: 'Prata', serif;
$font-display-1: 'Gilda Display', serif;
$font-display-2: 'Raleway', sans-serif;
$font-display-3: 'Roboto mono', monospace;

//BORDER
$border-thin-red: 1px solid $color-red-dark;
$border-thin-black: 1px solid $color-black;
$border-thin-white: 2px solid $color-white;

//ANIMATIONS
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    40% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    cursor: none;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
}

::selection {
    background: $color-pink-light;
    color: $color-orange-light;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
      text-decoration: none;
      color: inherit;
    }
    
// .container {
//     margin-top: 9rem;
// }