//COLOURS
$color-beige: #F8F6F0;
$color-pink: #EACCC7;
$color-red: #BE020D;
$color-orange: #f93700;
$color-brown: #5E5351;
$color-black: #333;
$color-white: #fff;

//FONT
$font-primary: 'Abril Fatface', cursive;
$font-primary-2: 'Prata', serif;
$font-display: 'Raleway', sans-serif;
$font-display-2: 'Roboto Mono', monospace;

//BORDER
$border-thick-white: 2px solid $color-white;
$border-thin-white: 1px solid $color-white;
$border-thin-orange: 1px solid $color-orange;
$border-thin-pink: 1px solid $color-pink;
$border-thin-red: 1px solid $color-red;
$border-thick-red: 2px solid $color-red;
$border-thin-brown: 1px solid $color-brown;

//ANIMATIONS


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    cursor: none !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    background-color: $color-beige;
    width: 100%;
}

::selection {
    background: $color-orange;
    color: $color-beige;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
      text-decoration: none;
      color: inherit;
      cursor: none;
    }
