
.footer {
    position: absolute;
    width: 100%;
    top: 86%;
    text-align: center;

    &__contact {
        position: relative;
        display: inline-block;
        overflow: hidden;

        &-heading:hover ~  &-heading-bg {
            transform-origin: right center;
            transform: scaleX(0)

        }
        &-heading-bg{
            position: absolute;
            background-color: $color-pink;
            opacity: .5;
            height: 5rem;
            width: 96%;
            left: 0;
            bottom: 1rem;
            z-index: -1;
            transform-origin: left center;
            transition: transform .2s ease-in-out;
        }
        }

    &__contactLinks {
        display: block;
        list-style: none;
        margin-bottom: 20rem;
        
        &-item {
            display: inline-block;
            margin-top: 3rem;
            
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
        
        span {
            display: inline-block;
            color: $color-brown;
            text-transform: uppercase;
            letter-spacing: -1.5px;
        }
    }

    &__copyright {
        position: relative;
        display: block;
        color: $color-red;
        margin-bottom: .5rem;
    }
}