.home {
    min-height: 100vh;
    position: relative;
    
    &__heading-1 {
        position: absolute;
        top: 32vh;
        left: 28.9vw;
        z-index: 99;
    }
    &__heading-2 {
        position: absolute;
        top: 45.8vh;
        left: 53.3vw;
        z-index: 99;
    }
    &__heading-3 {
        position: absolute;
        top: 54vh;
        left: 44vw;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-red;
    }

      &__contact {
        position: absolute;
        top: 63vh;
        right: 8rem;

        &-line {
            height: 20vh;
            width: 1px;
            position: absolute;
            bottom: 0;
            right: 8rem;
            background-color: $color-pink;
        }
      }
  
      &__contactLinks {
        cursor: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
  
        &-item {
          display: inline-block;
          margin-bottom: .5rem;
          position: relative;
          z-index: 101;

          a {
            cursor: none;
          }
  
          .hoverIn-1,
          .hoverIn-2,
          .hoverIn-3,
          .hoverIn-4 {
            display: inline-block;
            margin-right: 2px;
            margin-bottom: 1.5rem;
          }
  
          .char {
            display: inline-block;
            letter-spacing: -2px;
          }
        }
        }

    &__location {

        &-line {
            height: 20vh;
            width: 1px;
            position: absolute;
            top: 40vh;
            left: 8rem;
            background-color: $color-pink;
        }

        &-item {
            position: absolute;
            top: 61.8vh;
            left: 8rem;
            writing-mode: vertical-lr;
        }
    }
    &__logo {
        position: absolute;
        top: 87.3vh;
        left: 8rem;
    }

    &__circle {
        position: absolute;
        top: 9vh;
        left: 34.5vw;
        height: 59.5rem;
        width: 59.5rem;
        border-radius: 50%;
        border: $border-thick-white;
        z-index: 99;
    }

    &__line-rt {
        position: absolute;
        top: 27.3vh;
        left: 59.8vw;
        width: 1px;
        height: 50.6rem;
        transform: rotate(35deg);
        border-left: $border-thin-orange;
        transform-origin: 0% 0%;
        animation: expandToBottomLeft 1.6s ease;
    }
    &__line-hr {
        position: absolute;
        top: 50vh;
        border: $border-thin-white;
        height: 1px;
        width: 100vw;
        z-index: -1;
    }
    &__cube {
        position: absolute;
        top: 39.4vh;
        left: 56.1vw;
        height: 14rem;
        width: 24rem;
        transform-origin: left;
        background-color: $color-pink;
        border: none;
        z-index: -2;
        animation: expandToRight 2s ease;
    }
}

@keyframes expandToBottomLeft {
    0% {
        opacity: 0;
        height: 0;
        
    }
    100%{
        opacity: 1;
        height: 50.6rem;
    }
}
@keyframes expandToRight {
    0% {
        transform: scaleX(0);
    }

    60% {
        transform: scaleX(0);
    }

    100%{
        transform: scaleX(1);
    }
}