.info {
    min-height: 135vh;
    background-color: $color-pink;
    position: relative;
    overflow: hidden;

    &__heading{
        height: 100vh;
        left: 24vw;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    &__text {
        position: absolute;
        top: 30vh;
        left: 50vw;
        height: 100vh;

        &-title {
            margin-bottom: 1rem;
            display: block;
            padding-right: 2rem;
        }

        &-subtitle {
            display: block;
            border-bottom: $border-thin-red;
            padding-bottom: 1.1rem;
            padding-top: 5rem;
        }

        &-body {
            border-bottom: $border-thin-red;
            padding: 1.1rem 0;
            display: grid;

            grid-template-columns: 12rem max-content 1fr;

            .last{
                justify-self: flex-end;
            }
        }
    }
}