// header {
//   position: sticky;
//   top: 0;
// }

.nav {
  &__container {
    position: sticky;
    top: 0;
  }
    &__links {
      top: 3.6rem;
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      color: $color-red-dark;
    }
    
    &__item {
      transition: all .3s ease;
    }

    &__item-3 {
      margin-right: 58rem;
    }

    &__item:hover ~ &__cursor {
      transform: translate(-50%, -50%) scale(6);
    }
    
    &__cursor {
      pointer-events: none;
      position: fixed;
      padding: 0.8rem;
      background-color: $color-red-dark;
      border-radius: 50%;
      mix-blend-mode: difference;
      transition: transform .3s ease;
    }

    &__popup {
        display: flex;
        justify-content: flex-end;
    }

    &__underline {
      border-bottom: $border-thin-red;
      position: absolute;
      transition: all .3s ease-out;
      z-index: -1;
      width: 100%;
      height: 4rem;
      top: 3.1rem;
      background-color: transparent;
    }
    
    &__popup-container {
      position: absolute;
      margin: 9.5rem -1rem 0;
      background-color: $color-background;
      border-radius: .5rem;
      border: $border-thin-red;
      padding: 1rem 1.5rem;
      opacity: 0;
      transition: all .2s ease;
    }

    &__popup-links {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &--title{
        margin-bottom: 1rem;
      }

      &--item {
        margin-bottom: .5rem;

        &:last-child {
          margin-top: 3rem;
          text-decoration: underline;
        }
      }
    }

    &__popup-active {
      opacity: 1;
      cursor: pointer;
    }
}


span {
  display: inline-block;
  pointer-events: none;
  transition: transform .1s linear;
  font-size: 3.6rem;
}