.nav {
  &__container {
    position: sticky;
    top: 0;
    z-index: 100;
    user-select: none;
  }
    &__links {
      top: 3.6rem;
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      color: $color-red-dark;
      z-index: 101;
    }
    
    &__item {
      transition: all .3s ease;

      span {
        display: inline-block;
        transition: transform .1s linear;
        font-size: 3.6rem;
      }
    }

    &__item-3 {
      margin-right: 58rem;
    }

    &__item-4 {
      cursor: pointer;
    }

    &__item:hover ~ &__cursor {
      transform: translate(-50%, -50%) scale(6);
    }
    
    &__cursor {
      pointer-events: none;
      position: fixed;
      padding: 0.8rem;
      background-color: $color-red-dark;
      border-radius: 50%;
      mix-blend-mode: difference;
      transition: transform .3s ease;
    }

    &__popup {
        display: flex;
        justify-content: flex-end;
    }

    &__underline {
      border-bottom: $border-thin-red;
      position: absolute;
      transition: all .3s ease-out;
      z-index: -1;
      width: 100%;
      height: 4rem;
      top: 3.1rem;
      background-color: transparent;
    }
    
    &__popup-container {
      position: absolute;
      margin-top: 9.5rem;
      right: 2rem;
      background-color: transparent;
      border-radius: .5rem;
      border: $border-thin-red;
      padding: 1rem 2rem;
      opacity: 0;
    }

    &__popup-links {
      cursor: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &--title{
        margin-bottom: 1rem;
      }

      &--item {
        margin-bottom: .5rem;
        position: relative;

        &:last-child {
          margin-top: 4rem;
          text-decoration: underline;
        }
        }

      }

    &__popup-link {
      cursor: none;
    }

    &__popup-active {
      opacity: 1;
      animation-name: moveInRight;
      animation-duration: 0.6s;
      animation-timing-function: ease-in-out;
    }

  }
