
header {
  position: sticky;
  top: 0;
}

.nav {
    &__container {
    height: 6rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: $color-background;
    }

    
    &__links, &__popup {
      flex: 1;
      z-index: 11;
    }

    &__links {
      padding-right: 60rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }

    &__popup {
      display: flex;
        justify-content: flex-end;
    }

    &__underline {
      // height: 3rem;
      // width: 92.2vw;
      border-top: $border-thin-red;
      border-bottom: $border-thin-red;
      // background-color: transparent;
      // top: 3.6rem;
      position: absolute;
      transition: all .2s ease-out;
      z-index: 10;
    }

    // &__v-line-1 {
    //   display: inline-block;
    //   position: absolute;
    //   top: 4rem;
    //   border-right: $border-thin-red;
    //   height: 4rem;
    //   width: 15.8rem;
    // }

    // &__v-line-2 {
    //   display: inline-block;
    //   position: absolute;
    //   top: 4rem;
    //   border-right: $border-thin-red;
    //   height: 4rem;
    //   width: 31.2rem;
    // }

    // &__v-line-3 {
    //   display: inline-block;
    //   position: absolute;
    //   top: 4rem;
    //   border-right: $border-thin-red;
    //   height: 4rem;
    //   width: 124.6rem;
    // }
    
    &__popup-container {
      position: absolute;
      margin-top: 3.5rem;
      background-color: $color-background;
      border-radius: .5rem;
      border: $border-thin-red;
      padding: 1rem 1.5rem;
      opacity: 0;
      pointer-events: none;
      transition: all .2s ease;
    }

    &__popup-links {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &--title{
        margin-bottom: 1rem;
      }

      &--item {
        margin-bottom: .5rem;

        &:last-child {
          margin-top: 3rem;
          text-decoration: underline;
        }
      }
    }

    &__item-4 {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    &__popup-active {
      opacity: 1;
      pointer-events: all;
    }
}