.projects {
    min-height: 500vh;
    position: relative;
    overflow: hidden;

    &__arrow-1 {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            height: 10rem;
            width: 10rem;
        }
    }
    &__arrow-2 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 18rem;
        width: 18rem;
    }

    &__circle{
        position: absolute;
        top: 10%;
        left: 50%;
        transition: 0.5s ease-out;
        height: 30rem;
        width: 30rem;
    }

    &__circle-trail {
        position: absolute;
        top: 10%;
        left: 50%;
        transition: 1s ease-out;
        opacity: 0.3;
        height: 30rem;
        width: 30rem;
    }

    &__heading {
        position: absolute;
        top: 15%;
        transform: translateX(145rem);
        transition: .2s ease-out;
    }

    &__line-ct {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: scaleX(0.5) translate(-50%, -50%);
        width: 1px;
        background-color: $color-orange;
        height: 250vh;
    }

    &__cursor {
        position: absolute;
        width: 50rem;
        height: 30rem;
        top: 33%;
        left: 50%;
        transform: scale(0.1);
        opacity: 0;
        margin: -100px 0 0 -100px;
        background: url(../images/keeper-homepage.png) no-repeat 50% 50%;
        background-size: cover;
        z-index: 1;
    }

    &__container-left {
        position: absolute;
        top: 25%;
        left: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 5rem;
        z-index: 2;
    }

    &__container-right {
        position: absolute;
        top: 25%;
        right:0;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5rem;
        z-index: 2;

    }

    &__left {
        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: max-content min-content;
        grid-gap: 1.5rem;
        margin-bottom: 23rem;

        .projects__index {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            justify-self: flex-end;
            align-self: flex-end;
            margin-left: .2rem;
        }
    
        .projects__category {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            justify-self: flex-end;
        }
    
        .projects__title {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            justify-self: flex-end;
            margin-bottom: .5rem;
            text-align: end;
        }
    
        .projects__info {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            justify-self: flex-end;
            text-align: end;
        }
    
        .projects__view {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
            justify-self: flex-end;
        }
    }

    &__right {
        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: min-content max-content;
        grid-gap: 1.5rem;
        margin-bottom: 24rem;

        &:first-child {
            margin-top: 20rem;
        }

        .projects__index {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            justify-self: flex-start;
            align-self: flex-end;
            margin-right: .2rem;
        }
    
        .projects__category {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            justify-self: flex-start;
        }
    
        .projects__title {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            justify-self: flex-start;
            margin-bottom: .5rem;
        }
    
        .projects__info {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            justify-self: flex-start;
        }
    
        .projects__view {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
            justify-self: flex-start;
        }
    }

    &__view {
        display: inline;
        svg{
            margin-left: 0.2rem;
            height: 0.8rem;
            width: 0.8rem;
        }
    }


    &__1:hover, 
    &__2:hover, 
    &__3:hover, 
    &__4:hover, 
    &__5:hover, 
    &__6:hover, 
    &__7:hover, 
    &__8:hover {
        cursor: none;
        color: $color-orange;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}