.projects {
    min-height: 430vh;
    position: relative;
    overflow: hidden;
    width: 100%;

    @include respond(tab-land) { //1200
        min-height: 370vh;
    }
    @include respond(tab-port) { //900
        min-height: 310vh;
    }
    @include respond(phone-lg) { //ipad //800
        min-height: 220vh;
    }
    @include respond (phone) {
        background-color: $color-pink;
    }

    &__arrow-1 {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            height: 10rem;
            width: 10rem;
        }

        @include respond(tab-port){
            top: 2.5%;
        }
        @include respond(phone-lg){
            top: 3%;
        }
    }
    &__arrow-2 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 18rem;
        width: 18rem;

        @include respond(tab-land) {
            top: 11%;
        }
        @include respond(tab-port){
            top: 10%;
        }
        @include respond(phone-lg) {
            top: 13%;
        }
    }

    &__circle{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s ease-out;
        height: 30rem;
        width: 30rem;

        @include respond(tab-land) {
            top: 11%;
        }
        @include respond(tab-port){
            top: 10%;
        }
        @include respond(phone-lg) {
            top: 13%;
        }
    }

    &__circle-trail {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.8s ease-out;
        opacity: 0.3;
        height: 30rem;
        width: 30rem;

        @include respond(tab-land) {
            top: 11%;
        }
        @include respond(tab-port){
            top: 10%;
        }
        @include respond(phone-lg) {
            top: 13%;
        }
    }

    &__heading {
        position: absolute;
        top: 15%;
        transform: translateX(145rem);
        transition: .3s ease-out;

        @include respond(tab-land) {
            top: 17%;
        }
        @include respond(phone-lg) {
            opacity: 0;
        }
    }

    &__heading-phone {
        position: absolute;
        top: 22%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        font-size: 13rem;
        @include respond(phone-lg) {
            opacity: 1;
        }
    }

    &__line-ct {
        position: absolute;
        top: 26%;
        left: 50%;
        background-color: $color-orange;
        height:171rem;
        transform: scaleX(0.5);
        width: 1px;

        @include respond(tab-land-lg) { //1400
            top: 26.5%;
        }
        @include respond(tab-land) { //1200
            top: 28.5%;
        }
        @include respond(phone-lg){
            opacity: 0;
        }
    }

    &__circle-glow {
        position: absolute;
        top: 25%;
        right: 20%;
        height:15rem;
        width: 15rem;
        background-color: $color-white;
        border-radius: 50%;
        opacity: 0.9;
        box-shadow: 0 0 2.5rem 3rem $color-white;
        animation: moveRandomly 4s ease infinite;
        
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            letter-spacing: 2px;

            @include respond(tab-port){
                opacity: 0;
            }
        }

        @include respond(tab-land){
            top: 27%;
        }
        @include respond(tab-port){
            top: 54%;
            height:10rem;
            width: 10rem;
        }
        @include respond(phone){
            top: 78%;
            right: 53%;
            opacity: 0.4;
            height: 12rem;
            width: 12rem;
        }
    }

    &__container-left {
        position: absolute;
        top: 28%;
        left: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 5rem;
    

        @include respond(tab-land) {
            top: 30%;
        }
        @include respond(tab-port-md){
            padding-right: 2rem;
        }
        @include respond(phone-lg){
            width: 100%;
            align-items: center;
            padding-right: 0;
            top: 34%;
        }
    }

    &__container-right {
        position: absolute;
        top: 29%;
        right:0;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5rem;

        @include respond(tab-land) {
            top: 31%;
        }
        @include respond(tab-port-md){
            padding-left: 2rem;
        }
        @include respond(phone-lg){
            width: 100%;
            align-items: center;
            padding-left: 0;
            top: 34%;
        }
    }

    &__left {
        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: max-content min-content;
        grid-gap: 1.5rem;
        margin-bottom: 23rem;

        @include respond(phone-lg) {
            display: flex;
            flex-direction: column;
            margin-bottom: 13rem!important;
        }

        .projects__index {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            justify-self: flex-end;
            align-self: flex-end;
            margin-left: .2rem;
            @include respond(phone-lg){
                opacity: 0;
                display: none;
            }
        }
    
        .projects__category {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            justify-self: flex-end;
            @include respond(phone-lg){
                align-self: center;
            }
        }
    
        .projects__title {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            justify-self: flex-end;
            margin-bottom: .5rem;
            text-align: end;
            @include respond(phone-lg){
                align-self: center;
                z-index: 1000;
            }
        }
    
        .projects__info {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            justify-self: flex-end;
            text-align: end;
            @include respond(phone-lg){
                opacity: 0;
                display: none;
            }
        }
    
        .projects__view {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
            justify-self: flex-end;
            @include respond(phone-lg){
                opacity: 0;
                display: none;
            }
        }
    }

    &__right {
        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: min-content max-content;
        grid-gap: 1.5rem;
        margin-bottom: 22.6rem;

        @include respond(phone-lg) {
            display: flex;
            flex-direction: column;
            margin-bottom: 13rem!important;
        }

        &:first-child {
            margin-top: 16rem;
            @include respond(phone-lg){
                margin-top: 10rem;
            }
        }

        .projects__index {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            justify-self: flex-start;
            align-self: flex-end;
            margin-right: .2rem;
            @include respond(phone-lg){
                opacity: 0;
                display: none;
            }
        }
    
        .projects__category {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            justify-self: flex-start;
            @include respond(phone-lg){
                align-self: center;
            }
        }
    
        .projects__title {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            justify-self: flex-start;
            margin-bottom: .5rem;
            @include respond(phone-lg){
                align-self: center;
                z-index: 1000;
            }
        }
    
        .projects__info {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            justify-self: flex-start;
            @include respond(phone-lg){
                opacity: 0;
                display: none;
            }
        }
    
        .projects__view {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
            justify-self: flex-start;
            @include respond(phone-lg){
                opacity: 0;
                display: none;
            }
        }
    }

    &__view {
        display: inline;
        z-index: 1000;

        background-image: linear-gradient($color-orange, $color-orange);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 0 0.1rem;
        transition: background-size .3s ease;

        &:not(.coming-soon):hover {
            background-position: 0 100%;
            background-size: 100% 0.1rem;
        }

        svg{
            margin-left: 0.2rem;
            height: 0.8rem;
            width: 0.8rem;
        }
    }

    &__cursor {
        position: absolute;
        width: 50rem;
        height: 30rem;
        top: 400%;
        left: 50%;
        transform: scale(0.5);
        opacity: 0;
        margin: -100px 0 0 -100px;
        background-repeat: no-repeat;
        background-origin: 50% 50%;
        background-size: cover;

        @include respond (phone) {
            display: none;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
    }

    &__project-container{
        position: relative;
        color: $color-brown;
        z-index: 999;
        transition: color .2s ease, opacity .5s ease-out, transform .5s ease-out;

        svg {
            stroke: $color-brown;
            transition: stroke .2s ease;
        }
    }

    &__project-container:hover {
        color: $color-orange;
        cursor: none;

        svg {
            stroke: $color-orange;
        }
    }

    &__1 {
        @include respond (phone) {
                animation: lightUp-1 5s infinite;
        }
    }
    &__2 {
        @include respond (phone) {
                animation: lightUp-2 5s infinite;
        }
    }
    &__3 {
        @include respond (phone) {
                animation: lightUp-3 5s infinite;
        }
    }
    &__4 {
        @include respond (phone) {
                animation: lightUp-4 5s infinite;
        }
    }
    &__5 {
        margin-bottom: 22rem;
        @include respond (phone) {
            animation: lightUp-5 5s infinite;
        }
    }
    &__6 {
        margin-top: 1.2rem;
        @include respond (phone-lg) {
            margin-top: 0;
        }
        @include respond (phone) {
                animation: lightUp-6 5s infinite;
        }
    }
    &__7 {
        @include respond (phone) {
                animation: lightUp-7 5s infinite;
        }
    }
    &__8 {
        @include respond (phone) {
                animation: lightUp-8 5s infinite;
        }
    }

}