body {
    font-family: $font-display;
    color: $color-black;
}

//logo name
.text-initial {
    font-family: $font-primary;
    font-size: 1.4rem;
    color: $color-red;
    text-transform: uppercase;
}
//section heading
.heading-section {
    font-family: $font-primary;
    font-size: 14.8rem;
    color: $color-black;
}
//home heading
.heading-home-1 {
    font-family: $font-primary;
    font-size: 7.5rem;
    color: $color-black;
    text-transform: uppercase;
}
.heading-home-2 {
    font-family: $font-primary-2;
    font-size: 6rem;
    color: $color-red;
}
//nav bar
.text-nav {
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-red;
    text-transform: uppercase;
}
//contact links 
.text-contact {
    font-family: $font-display;
    font-size: 1rem;
    font-weight: 400;
    color: $color-red;
    text-transform: uppercase;
}
//info heading
.heading-info {
    font-family: $font-primary-2;
    font-size: 1.8rem;
    color: $color-red;
    line-height: 1.6;
}
.heading-info-2 {
    font-family: $font-primary-2;
    font-size: 1.6rem;
    color: $color-black;
    text-transform: uppercase;
    letter-spacing: 1px;
}
// description for info & projects
.text-description {
    font-family: $font-display;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
}
//circle
.text-circle {
    font-family: $font-display;
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-black;
}
//project heading
.heading-projects {
    font-family: $font-primary-2;
    font-size: 4rem;
}
//project index
.text-index {
    font-family: $font-display-2;
    font-size: 1rem;
}
