body {
    font-family: $font-display-1;
    font-weight: 400;
    color: $color-black;
    line-height: 1.6;
}

.heading-1 {
    font-family: $font-primary;
    font-size: 14.8rem;
}

.heading-2 {
    font-family: $font-primary;
    font-size: 3rem;
}

.heading-3 {
    font-family: $font-primary;
    font-size: 3.2rem;
}

.heading-sub-1 {
    font-family: $font-primary;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.text-body-1 {
    font-family: $font-display-1;
    font-size: 2rem;
}

.text-nav-1 {
    font-family: $font-display-1;
    font-size: 1.3rem;
}

.text-body-2 {
    font-family: $font-display-1;
    font-size: 1.3rem;
    color: $color-red-dark !important;
}

.text-body-3 {
    font-family: $font-display-2;
    font-size: 1.2rem;
}