</div>
</body>

<footer>
    <% const year = new Date().getFullYear() %>
    <div class="footer">
        <span class="text-body-2">© <%= year%>, All rights reserved</span>
    </div>
</footer>

</html>