<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Prata&family=Roboto+Mono:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Jinjin Wang | Web Developer</title>
</head>

<body>
    <nav class="nav__container">
        <div class="nav__links">
            <a href="#home" class="nav__item nav__item-1 " data-page="home"><span>home</span></a>
            <a href="#info" class="nav__item nav__item-2 " data-page="info"><span>info</span> </a>
            <a href="#projects" class="nav__item nav__item-3" data-page="projects"><span>projects</span></a>
            <a href="#" class="nav__item nav__item-4" onclick="contactClick()"><span>get in touch</span></a>
            <div class="nav__cursor"></div>

        </div>
        <div class="nav__underline" id="underline"></div>

        <div class="nav__popup">
            <div class="nav__popup-container" id="popup">
                <ul class="nav__popup-links">
                    <li class="nav__popup-links--title"><span class="text-body-3">contact & socials</span>
                    </li>
                    <li class="nav__popup-links--item"><a class="text-body-2" href="mailto: jinjinwang@gmail.com"
                            target="_blank">email</a>
                    </li>
                    <li class="nav__popup-links--item"><a class="text-body-2"
                            href="https://www.linkedin.com/in/jinjin-wang-616a99183/" target="_blank">linkedin</a>
                    </li>
                    <li class="nav__popup-links--item"><a class="text-body-2" href="https://github.com/lyrisswing"
                            target="_blank">github</a>
                    </li>
                    <li class="nav__popup-links--item"><a class="text-body-2"
                            href="https://www.dropbox.com/s/52w2qjxuhlxui0w/CV_Jinjin%20Wang.pdf?dl=0"
                            target="_blank">resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">