<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Prata&family=Roboto+Mono:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Jinjin Wang | Web Developer</title>
</head>

<body>

    <div class="container">
        <header>
            <nav>
                <div class="nav__container">
                    <ul class="nav__links">
                        <li><a href="#home" class="nav__item-1 text-nav-1" data-page="home">home</a></li>
                        <li><a href="#info" class="nav__item-2 text-nav-1" data-page="info">info</a></li>
                        <li><a href="#projects" class="nav__item-3 text-nav-1" data-page="projects">projects</a></li>
                    </ul>
                    <div class="nav__popup">
                        <button class="nav__item-4 text-nav-1" onclick="contactClick()">get in touch</button>
                        <div class="nav__popup-container" id="popup">
                            <ul class="nav__popup-links">
                                <li class="nav__popup-links--title"><span class="text-body-3">contact & socials</span>
                                </li>
                                <li class="nav__popup-links--item"><a class="text-body-2"
                                        href="mailto: jinjinwang@gmail.com" target="_blank">email</a>
                                </li>
                                <li class="nav__popup-links--item"><a class="text-body-2"
                                        href="https://www.linkedin.com/in/jinjin-wang-616a99183/"
                                        target="_blank">linkedin</a></li>
                                <li class="nav__popup-links--item"><a class="text-body-2"
                                        href="https://github.com/lyrisswing" target="_blank">github</a>
                                </li>
                                <li class="nav__popup-links--item"><a class="text-body-2"
                                        href="https://www.dropbox.com/s/52w2qjxuhlxui0w/CV_Jinjin%20Wang.pdf?dl=0"
                                        target="_blank">resume</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav__underline" id="underline" />
            </nav>
        </header>