@keyframes moveInRight {
  0% {
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none; }

html {
  font-size: 62.5%;
  cursor: none; }

body {
  box-sizing: border-box;
  background-color: #F8F6F0;
  cursor: none; }

a,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit; }

.container {
  margin-top: 9rem; }

.footer {
  position: relative;
  color: #BE020D;
  width: 100%;
  text-align: end;
  bottom: 4rem;
  right: 3rem;
  background-color: transparent; }

footer {
  height: 0; }

.nav__container {
  position: sticky;
  top: 0;
  z-index: 100; }

.nav__links {
  top: 3.6rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  color: #BE020D;
  z-index: 101; }

.nav__item {
  transition: all .3s ease; }

.nav__item-3 {
  margin-right: 58rem; }

.nav__item-4 {
  cursor: pointer; }

.nav__item:hover ~ .nav__cursor {
  transform: translate(-50%, -50%) scale(6); }

.nav__cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.8rem;
  background-color: #BE020D;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform .3s ease; }

.nav__popup {
  display: flex;
  justify-content: flex-end; }

.nav__underline {
  border-bottom: 1px solid #BE020D;
  position: absolute;
  transition: all .3s ease-out;
  z-index: -1;
  width: 100%;
  height: 4rem;
  top: 3.1rem;
  background-color: transparent; }

.nav__popup-container {
  position: absolute;
  margin: 9.5rem -2rem 0;
  background-color: transparent;
  border-radius: .5rem;
  border: 1px solid #BE020D;
  padding: 1rem 2rem;
  opacity: 0; }

.nav__popup-links {
  cursor: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .nav__popup-links--title {
    margin-bottom: 1rem; }
  .nav__popup-links--item {
    margin-bottom: .5rem; }
    .nav__popup-links--item:last-child {
      margin-top: 4rem;
      text-decoration: underline; }

.nav__popup-link {
  cursor: none; }

.nav__popup-active {
  opacity: 1;
  animation-name: moveInRight;
  animation-duration: .4s;
  animation-timing-function: ease-out; }

span {
  display: inline-block;
  transition: transform .1s linear;
  font-size: 3.6rem; }

body {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #000;
  line-height: 1.6; }

.heading-1 {
  font-family: "Prata", serif;
  font-size: 14.8rem; }

.heading-2 {
  font-family: "Prata", serif;
  font-size: 5rem;
  line-height: 1.4;
  letter-spacing: 2px; }

.heading-3 {
  font-family: "Prata", serif;
  font-size: 3.2rem; }

.heading-sub-1 {
  font-family: "Prata", serif;
  font-size: 2.4rem;
  text-transform: uppercase; }

.text-body-1 {
  font-family: "Gilda Display", serif;
  font-size: 2rem; }

.text-nav-1 {
  font-family: "Gilda Display", serif;
  font-size: 1.3rem; }

.text-body-2 {
  font-family: "Gilda Display", serif;
  font-size: 1.5rem;
  color: #BE020D !important; }

.text-body-3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem; }

.text-body-4 {
  font-family: "Roboto mono", monospace;
  font-size: 1.2rem; }

.home {
  min-height: 120vh; }
  .home__heading {
    position: absolute;
    top: 50%;
    left: 6%; }

.info {
  min-height: 100vh;
  background-color: #D97925; }

.projects {
  min-height: 100vh;
  background-color: #E8E8E8; }
  .projects__container {
    display: grid;
    width: 90%;
    height: 100vh;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 0 8.5rem; }
  .projects__link, .projects__index, .projects__info {
    position: relative;
    opacity: .2;
    z-index: 999;
    transition: opacity .3s ease; }
  .projects__link:hover {
    opacity: 1;
    cursor: none; }
  .projects__link:hover ~ .projects__info {
    opacity: 1; }
  .projects__2 {
    margin-right: 4rem; }
  .projects__3 {
    margin-right: 5rem; }
  .projects__1, .projects__2, .projects__3, .projects__4 {
    width: 100%;
    transition: opacity .3s ease;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: repeat(2, min-content); }
    .projects__1 .projects__index, .projects__2 .projects__index, .projects__3 .projects__index, .projects__4 .projects__index {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin-right: 1rem;
      align-self: flex-end; }
    .projects__1 .projects__link, .projects__2 .projects__link, .projects__3 .projects__link, .projects__4 .projects__link {
      grid-row: 1 / 2;
      grid-column: 2 / 3; }
    .projects__1 .projects__info, .projects__2 .projects__info, .projects__3 .projects__info, .projects__4 .projects__info {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
  .projects__decoline {
    display: flex;
    width: 100%;
    position: absolute;
    top: 260vh;
    border-bottom: 2px solid #fff; }
