.fade-in-and-rise {
  opacity: 0;
  transform: translateY(12rem);
  transition: opacity .5s ease-out, transform .5s ease-out; }

.fade-in-and-rise.appear {
  opacity: 1;
  transform: translateY(0); }

@keyframes expandToBottomLeftandDisappear {
  0% {
    height: 0; }
  100% {
    height: 39rem; } }

@keyframes expandToRight {
  0% {
    transform: scaleX(0); }
  60% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@keyframes moveRandomly {
  0% {
    transform: translate(0, 0); }
  20% {
    transform: translate(3rem, 2rem); }
  40% {
    transform: translate(1.5rem, -1.3rem); }
  60% {
    transform: translate(-1rem, -2rem); }
  80% {
    transform: translate(4rem, -0.5rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes moveRandomly-hr {
  0% {
    transform: translateX(0) scaleX(0.5); }
  50% {
    transform: translateX(-45rem) scaleX(0.5); }
  100% {
    transform: translateX(0) scaleX(0.5); } }

@keyframes moveRandomly-vt {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(15rem); }
  75% {
    transform: translateY(-15rem); }
  100% {
    transform: translateY(0); } }

@keyframes moveRandomly-vt-phone {
  0% {
    transform: translateY(0) scaleY(0.5); }
  33% {
    transform: translateY(20rem) scaleY(0.5); }
  88% {
    transform: translateY(-10rem) scaleY(0.5); }
  100% {
    transform: translateY(0) scaleY(0.5); } }

@keyframes moveRandomly-hr-phone {
  0% {
    transform: translateX(0) scaleX(0.5); }
  50% {
    transform: translateX(-35rem) scaleX(0.5); }
  100% {
    transform: translateX(0) scaleX(0.5); } }

@keyframes lightUp-1 {
  0% {
    color: #5E5351; }
  5% {
    color: #5E5351; }
  10% {
    color: #f93700; }
  15% {
    color: #f93700; }
  20% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

@keyframes lightUp-2 {
  0% {
    color: #5E5351; }
  15% {
    color: #5E5351; }
  20% {
    color: #f93700; }
  25% {
    color: #f93700; }
  30% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

@keyframes lightUp-3 {
  0% {
    color: #5E5351; }
  25% {
    color: #5E5351; }
  30% {
    color: #f93700; }
  35% {
    color: #f93700; }
  40% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

@keyframes lightUp-4 {
  0% {
    color: #5E5351; }
  35% {
    color: #5E5351; }
  40% {
    color: #f93700; }
  45% {
    color: #f93700; }
  50% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

@keyframes lightUp-5 {
  0% {
    color: #5E5351; }
  45% {
    color: #5E5351; }
  50% {
    color: #f93700; }
  55% {
    color: #f93700; }
  60% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

@keyframes lightUp-6 {
  0% {
    color: #5E5351; }
  55% {
    color: #5E5351; }
  60% {
    color: #f93700; }
  65% {
    color: #f93700; }
  70% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

@keyframes lightUp-7 {
  0% {
    color: #5E5351; }
  65% {
    color: #5E5351; }
  70% {
    color: #f93700; }
  75% {
    color: #f93700; }
  80% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

@keyframes lightUp-8 {
  0% {
    color: #5E5351; }
  75% {
    color: #5E5351; }
  80% {
    color: #f93700; }
  85% {
    color: #f93700; }
  90% {
    color: #5E5351; }
  100% {
    color: #5E5351; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  cursor: none;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      cursor: auto; } }

body {
  box-sizing: border-box;
  background-color: #F8F6F0;
  width: 100%;
  overflow: hidden; }

::selection {
  background: #f93700;
  color: #F8F6F0; }

a,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: none; }

.footer {
  position: absolute;
  width: 100%;
  top: 86%;
  text-align: center; }
  @media (max-width: 75em) {
    .footer {
      top: 87%; } }
  @media (max-width: 56.25em) {
    .footer {
      top: 89%; } }
  @media (max-width: 50em) {
    .footer {
      top: 82%; } }
  @media (max-width: 37.5em) {
    .footer {
      top: 86%; } }
  .footer__contact {
    position: relative;
    display: inline-block;
    overflow: hidden; }
    .footer__contact-heading:hover ~ .footer__contact-heading-bg {
      transform-origin: right center;
      transform: scaleX(0); }
    .footer__contact-heading-bg {
      position: absolute;
      background-color: #EACCC7;
      opacity: .5;
      height: 5rem;
      width: 96%;
      left: 0;
      bottom: 1rem;
      z-index: -1;
      transform-origin: left center;
      transition: transform .2s ease-in-out, opacity .5s ease-out; }
      @media (max-width: 37.5em) {
        .footer__contact-heading-bg {
          background-color: #F8F6F0;
          opacity: .3; } }
  .footer__contactLinks {
    display: block;
    list-style: none; }
    .footer__contactLinks-item {
      display: inline-block;
      margin-top: 3rem; }
      .footer__contactLinks-item:not(:last-child) {
        margin-right: 3rem; }
      @media (max-width: 37.5em) {
        .footer__contactLinks-item {
          margin-top: 1rem; } }
    .footer__contactLinks span {
      display: inline-block;
      color: #5E5351;
      text-transform: uppercase;
      letter-spacing: -1.5px; }
  .footer__copyright {
    position: relative;
    margin-top: 22.5rem; }
    .footer__copyright-1 {
      font-weight: 1rem; }
    .footer__copyright-2 {
      display: inline-block;
      margin-top: .8rem;
      color: #BE020D; }
    @media (max-width: 75em) {
      .footer__copyright {
        margin-top: 19rem; } }
    @media (max-width: 50em) {
      .footer__copyright {
        margin-top: 28rem; } }
    @media (max-width: 37.5em) {
      .footer__copyright {
        margin-top: 7rem; } }

.nav__container {
  z-index: 100;
  user-select: none; }

.nav__links {
  top: 6vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 101;
  padding: 0 8rem; }

.nav__item {
  transition: all .3s ease; }
  @media (max-width: 37.5em) {
    .nav__item {
      opacity: 0; } }
  .nav__item span {
    display: inline-block;
    transition: transform .1s linear;
    z-index: 999; }

.nav__item-2 {
  margin-right: 56%; }
  @media (max-width: 37.5em) {
    .nav__item-2 {
      margin-right: 0; } }

.nav__item:hover ~ .nav__cursor {
  background-color: #BE020D;
  transform: translate(-50%, -50%) scale(14); }

.nav__cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.5rem;
  background-color: #BE020D;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform .2s ease; }
  @media (max-width: 75em) {
    .nav__cursor {
      opacity: 0; } }

body {
  font-family: "Raleway", sans-serif;
  color: #333; }

.text-initial {
  font-family: "Abril Fatface", cursive;
  font-size: 1.4rem;
  color: #BE020D;
  text-transform: uppercase; }

.heading-section {
  font-family: "Abril Fatface", cursive;
  font-size: 14.8rem;
  color: #333; }

.heading-home-1 {
  font-family: "Abril Fatface", cursive;
  font-size: 7.5rem;
  color: #333;
  text-transform: uppercase; }

.heading-home-2 {
  font-family: "Prata", serif;
  font-size: 6rem;
  color: #BE020D; }

.text-nav {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #BE020D;
  text-transform: uppercase; }

.text-contact {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #BE020D;
  text-transform: uppercase; }

.heading-info {
  font-family: "Prata", serif;
  font-size: 1.8rem;
  color: #BE020D;
  line-height: 1.8; }
  @media (max-width: 37.5em) {
    .heading-info {
      font-size: 2rem; } }

.heading-info-2 {
  font-family: "Prata", serif;
  font-size: 1.6rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px; }

.text-description {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6; }

.text-circle {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #333; }

.heading-projects {
  font-family: "Prata", serif;
  font-size: 4rem; }
  @media (max-width: 37.5em) {
    .heading-projects {
      font-size: 3.75rem; } }

.text-index {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem; }

.text-hover {
  font-family: "Prata", serif;
  font-size: 1.2rem;
  color: #f93700; }

.home {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 37.5em) {
    .home {
      background-color: #EACCC7; } }
  @media (max-width: 37.5em) {
    .home__heading {
      opacity: 0; } }
  .home__heading-1 {
    position: absolute;
    top: 32%;
    left: 26.5%;
    z-index: 99; }
    @media (max-width: 68.75em) {
      .home__heading-1 {
        left: 23%; } }
  .home__heading-2 {
    position: absolute;
    top: 45.5%;
    left: 50%;
    z-index: 99; }
    @media (max-width: 68.75em) {
      .home__heading-2 {
        left: 50%; } }
  .home__heading-3 {
    position: absolute;
    top: 54%;
    left: 41%;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #BE020D; }
    @media (max-width: 68.75em) {
      .home__heading-3 {
        left: 39%; } }
  .home__heading-phone {
    opacity: 0; }
    @media (max-width: 37.5em) {
      .home__heading-phone {
        opacity: 1; } }
  .home__heading-1-phone {
    position: absolute;
    right: 47.5%;
    top: 25%;
    font-family: "Abril Fatface", cursive;
    font-size: 19.75rem;
    text-transform: uppercase;
    color: #fff;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    z-index: 99; }
  .home__heading-2-phone {
    position: absolute;
    right: 21.7%;
    top: 10.5%;
    font-family: "Abril Fatface", cursive;
    font-size: 19.75rem;
    text-transform: uppercase;
    color: #BE020D;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    z-index: 99; }
  .home__heading-3-phone {
    position: absolute;
    right: 12%;
    top: 71%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: end;
    color: #BE020D; }
  .home__heading-4-phone {
    position: absolute;
    right: 12%;
    top: 74%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: end;
    color: #BE020D; }
  .home__contact {
    position: absolute;
    top: 63%;
    right: 8rem; }
    @media (max-width: 37.5em) {
      .home__contact {
        opacity: 0; } }
    .home__contact-line {
      height: 20%;
      width: 1px;
      position: absolute;
      bottom: 0;
      right: 8rem;
      background-color: #EACCC7; }
  .home__contactLinks {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .home__contactLinks-item {
      display: inline-block;
      margin-bottom: .5rem;
      position: relative;
      z-index: 101; }
      .home__contactLinks-item .hoverIn-1,
      .home__contactLinks-item .hoverIn-2,
      .home__contactLinks-item .hoverIn-3,
      .home__contactLinks-item .hoverIn-4 {
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 1.5rem; }
      .home__contactLinks-item .char {
        display: inline-block;
        letter-spacing: -2px;
        font-size: 1.1rem; }
  .home__location-line {
    height: 20%;
    width: 1px;
    position: absolute;
    top: 38%;
    left: 8rem;
    background-color: #EACCC7; }
    @media (max-width: 37.5em) {
      .home__location-line {
        opacity: 0; } }
  .home__location-item {
    position: absolute;
    top: 60%;
    left: 8rem;
    writing-mode: vertical-lr;
    font-size: 1.1rem; }
    @media (max-width: 37.5em) {
      .home__location-item {
        writing-mode: horizontal-tb;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 300;
        top: 80%;
        right: 12%;
        text-align: end; } }
  .home__logo {
    position: absolute;
    top: 85%;
    left: 8rem; }
    @media (max-width: 37.5em) {
      .home__logo span {
        font-size: 2rem; } }
    @media (max-width: 37.5em) {
      .home__logo {
        left: 11.5%;
        top: 4.5%; } }
  .home__circle {
    position: absolute;
    top: 8%;
    left: 32.5%;
    height: 62rem;
    width: 62rem;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 99; }
    @media (max-width: 68.75em) {
      .home__circle {
        top: 11%;
        left: 30%; } }
    @media (max-width: 56.25em) {
      .home__circle {
        top: 15%;
        left: 27%; } }
    @media (max-width: 50em) {
      .home__circle {
        opacity: 0; } }
  .home__circle-phone {
    opacity: 0;
    position: absolute;
    top: 47%;
    left: 46%;
    border: 2px solid #fff;
    height: 94rem;
    width: 94rem;
    transform: scale(0.5) translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1; }
    @media (max-width: 37.5em) {
      .home__circle-phone {
        opacity: 1; } }
  .home__line-rt {
    position: absolute;
    top: 30%;
    left: 57%;
    width: 1px;
    height: 39rem;
    transform: rotate(39deg);
    border-left: 1px solid #f93700;
    transform-origin: 0% 0%;
    animation: expandToBottomLeftandDisappear 1.6s ease; }
    @media (max-width: 87.5em) {
      .home__line-rt {
        left: 59%; } }
    @media (max-width: 56.25em) {
      .home__line-rt {
        left: 64%; } }
    @media (max-width: 50em) {
      .home__line-rt {
        opacity: 0;
        animation-play-state: paused; } }
  .home__line-hr {
    position: absolute;
    top: 50%;
    border: 1px solid #fff;
    height: 1px;
    width: 100vw;
    z-index: -1;
    animation: moveRandomly-vt 20s ease infinite; }
    @media (max-width: 37.5em) {
      .home__line-hr {
        top: 60%;
        z-index: 98;
        border: 1px solid #fff;
        animation: moveRandomly-vt-phone 15s ease infinite; } }
  .home__line-vt {
    position: absolute;
    left: 90%;
    border: 1px solid #EACCC7;
    width: 1px;
    height: 100vh;
    z-index: -2;
    animation: moveRandomly-hr 15s ease infinite; }
    @media (max-width: 37.5em) {
      .home__line-vt {
        z-index: 98;
        border: 1px solid #BE020D;
        animation: moveRandomly-hr-phone 20s ease infinite; } }
  .home__cube {
    position: absolute;
    top: 39.5%;
    left: 54%;
    height: 14rem;
    width: 24rem;
    transform-origin: left;
    background-color: #EACCC7;
    border: none;
    z-index: -2;
    animation: expandToRight 2s ease; }
    @media (max-width: 68.75em) {
      .home__cube {
        left: 55%;
        height: 15rem; } }
    @media (max-width: 37.5em) {
      .home__cube {
        opacity: 0;
        animation-play-state: paused; } }

.info {
  min-height: 100vh;
  background-color: #EACCC7;
  position: relative;
  overflow: hidden;
  width: 100%; }
  @media (max-width: 68.75em) {
    .info {
      min-height: 120vh; } }
  @media (max-width: 37.5em) {
    .info {
      background-color: #F8F6F0; } }
  .info__heading {
    height: 100vh;
    left: 23%;
    writing-mode: vertical-lr;
    transform: rotate(180deg); }
    @media (max-width: 68.75em) {
      .info__heading {
        opacity: 0; } }
  .info__heading-media {
    position: absolute;
    top: 0;
    left: 5vw;
    opacity: 0;
    visibility: hidden;
    writing-mode: vertical-lr;
    transform: rotate(180deg); }
    @media (max-width: 68.75em) {
      .info__heading-media {
        opacity: 1;
        visibility: visible; } }
    @media (max-width: 37.5em) {
      .info__heading-media {
        top: 4rem;
        writing-mode: horizontal-tb;
        transform: rotate(0) translate(19rem, 1rem); } }
  @media (max-width: 68.75em) {
    .info .scrollmagic-pin-spacer {
      display: none !important; } }
  .info__circle-glow {
    position: absolute;
    top: 50%;
    left: 15%;
    height: 15rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 2.5rem 3rem #fff;
    opacity: 0.4;
    animation: moveRandomly 5s ease infinite; }
    @media (max-width: 50em) {
      .info__circle-glow {
        top: 80%;
        left: 40%; } }
    @media (max-width: 37.5em) {
      .info__circle-glow {
        opacity: 0.8; } }
  .info__text {
    position: absolute;
    top: 20%;
    left: 45%;
    height: 100%;
    width: 41%; }
    @media (max-width: 68.75em) {
      .info__text {
        left: 30%;
        width: 60%;
        top: 15%; } }
    @media (max-width: 37.5em) {
      .info__text {
        top: 25%;
        left: 0;
        width: 100%;
        padding: 0 4.5rem; } }
    .info__text-title {
      margin-bottom: 1rem;
      display: block; }
      @media (max-width: 37.5em) {
        .info__text-title {
          margin-bottom: 0; } }
    .info__text-subtitle {
      display: block;
      border-bottom: 1px solid #BE020D;
      padding-bottom: 1.1rem;
      padding-top: 5rem; }
      @media (max-width: 75em) {
        .info__text-subtitle {
          margin-top: 2rem; } }
      @media (max-width: 68.75em) {
        .info__text-subtitle {
          margin-top: 4rem; } }
      @media (max-width: 37.5em) {
        .info__text-subtitle {
          margin-top: 0; } }
    .info__text-body {
      border-bottom: 1px solid #BE020D;
      padding: 1.1rem 0;
      display: grid;
      grid-template-columns: 12rem max-content 1fr; }
      @media (max-width: 68.75em) {
        .info__text-body {
          grid-template-columns: 8.5rem max-content 1fr; } }
      @media (max-width: 37.5em) {
        .info__text-body {
          grid-template-rows: min-content min-content;
          grid-template-columns: max-content 1fr;
          padding: 1rem 0;
          grid-gap: 0.5rem; } }
      @media (max-width: 37.5em) {
        .info__text-body .role {
          grid-row: 2 /3; } }
      .info__text-body .last {
        justify-self: flex-end; }
        @media (max-width: 37.5em) {
          .info__text-body .last {
            grid-row: 2 /3; } }
  @media (max-width: 37.5em) {
    .info__section-crs {
      opacity: 0 !important; } }

.projects {
  min-height: 430vh;
  position: relative;
  overflow: hidden;
  width: 100%; }
  @media (max-width: 75em) {
    .projects {
      min-height: 370vh; } }
  @media (max-width: 56.25em) {
    .projects {
      min-height: 310vh; } }
  @media (max-width: 50em) {
    .projects {
      min-height: 220vh; } }
  @media (max-width: 37.5em) {
    .projects {
      background-color: #EACCC7; } }
  .projects__arrow-1 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .projects__arrow-1 svg {
      height: 10rem;
      width: 10rem; }
    @media (max-width: 56.25em) {
      .projects__arrow-1 {
        top: 2.5%; } }
    @media (max-width: 50em) {
      .projects__arrow-1 {
        top: 3%; } }
  .projects__arrow-2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18rem;
    width: 18rem; }
    @media (max-width: 75em) {
      .projects__arrow-2 {
        top: 11%; } }
    @media (max-width: 56.25em) {
      .projects__arrow-2 {
        top: 10%; } }
    @media (max-width: 50em) {
      .projects__arrow-2 {
        top: 13%; } }
  .projects__circle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-out;
    height: 30rem;
    width: 30rem; }
    @media (max-width: 75em) {
      .projects__circle {
        top: 11%; } }
    @media (max-width: 56.25em) {
      .projects__circle {
        top: 10%; } }
    @media (max-width: 50em) {
      .projects__circle {
        top: 13%; } }
  .projects__circle-trail {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s ease-out;
    opacity: 0.3;
    height: 30rem;
    width: 30rem; }
    @media (max-width: 75em) {
      .projects__circle-trail {
        top: 11%; } }
    @media (max-width: 56.25em) {
      .projects__circle-trail {
        top: 10%; } }
    @media (max-width: 50em) {
      .projects__circle-trail {
        top: 13%; } }
  .projects__heading {
    position: absolute;
    top: 15%;
    transform: translateX(145rem);
    transition: .3s ease-out; }
    @media (max-width: 75em) {
      .projects__heading {
        top: 17%; } }
    @media (max-width: 50em) {
      .projects__heading {
        opacity: 0; } }
  .projects__heading-phone {
    position: absolute;
    top: 22%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    font-size: 13rem; }
    @media (max-width: 50em) {
      .projects__heading-phone {
        opacity: 1; } }
  .projects__line-ct {
    position: absolute;
    top: 26%;
    left: 50%;
    background-color: #f93700;
    height: 171rem;
    transform: scaleX(0.5);
    width: 1px; }
    @media (max-width: 87.5em) {
      .projects__line-ct {
        top: 26.5%; } }
    @media (max-width: 75em) {
      .projects__line-ct {
        top: 28.5%; } }
    @media (max-width: 50em) {
      .projects__line-ct {
        opacity: 0; } }
  .projects__circle-glow {
    position: absolute;
    top: 25%;
    right: 20%;
    height: 15rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 0 0 2.5rem 3rem #fff;
    animation: moveRandomly 4s ease infinite; }
    .projects__circle-glow span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 2px; }
      @media (max-width: 56.25em) {
        .projects__circle-glow span {
          opacity: 0; } }
    @media (max-width: 75em) {
      .projects__circle-glow {
        top: 27%; } }
    @media (max-width: 56.25em) {
      .projects__circle-glow {
        top: 54%;
        height: 10rem;
        width: 10rem; } }
    @media (max-width: 37.5em) {
      .projects__circle-glow {
        top: 78%;
        right: 53%;
        opacity: 0.4;
        height: 12rem;
        width: 12rem; } }
  .projects__container-left {
    position: absolute;
    top: 28%;
    left: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5rem; }
    @media (max-width: 75em) {
      .projects__container-left {
        top: 30%; } }
    @media (max-width: 62.5em) {
      .projects__container-left {
        padding-right: 2rem; } }
    @media (max-width: 50em) {
      .projects__container-left {
        width: 100%;
        align-items: center;
        padding-right: 0;
        top: 34%; } }
  .projects__container-right {
    position: absolute;
    top: 29%;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem; }
    @media (max-width: 75em) {
      .projects__container-right {
        top: 31%; } }
    @media (max-width: 62.5em) {
      .projects__container-right {
        padding-left: 2rem; } }
    @media (max-width: 50em) {
      .projects__container-right {
        width: 100%;
        align-items: center;
        padding-left: 0;
        top: 34%; } }
  .projects__left {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: max-content min-content;
    grid-gap: 1.5rem;
    margin-bottom: 23rem; }
    @media (max-width: 50em) {
      .projects__left {
        display: flex;
        flex-direction: column;
        margin-bottom: 13rem !important; } }
    .projects__left .projects__index {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      justify-self: flex-end;
      align-self: flex-end;
      margin-left: .2rem; }
      @media (max-width: 50em) {
        .projects__left .projects__index {
          opacity: 0;
          display: none; } }
    .projects__left .projects__category {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      justify-self: flex-end; }
      @media (max-width: 50em) {
        .projects__left .projects__category {
          align-self: center; } }
    .projects__left .projects__title {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      justify-self: flex-end;
      margin-bottom: .5rem;
      text-align: end; }
      @media (max-width: 50em) {
        .projects__left .projects__title {
          align-self: center;
          z-index: 1000; } }
    .projects__left .projects__info {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      justify-self: flex-end;
      text-align: end; }
      @media (max-width: 50em) {
        .projects__left .projects__info {
          opacity: 0;
          display: none; } }
    .projects__left .projects__view {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      justify-self: flex-end; }
      @media (max-width: 50em) {
        .projects__left .projects__view {
          opacity: 0;
          display: none; } }
  .projects__right {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: min-content max-content;
    grid-gap: 1.5rem;
    margin-bottom: 22.6rem; }
    @media (max-width: 50em) {
      .projects__right {
        display: flex;
        flex-direction: column;
        margin-bottom: 13rem !important; } }
    .projects__right:first-child {
      margin-top: 16rem; }
      @media (max-width: 50em) {
        .projects__right:first-child {
          margin-top: 10rem; } }
    .projects__right .projects__index {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      justify-self: flex-start;
      align-self: flex-end;
      margin-right: .2rem; }
      @media (max-width: 50em) {
        .projects__right .projects__index {
          opacity: 0;
          display: none; } }
    .projects__right .projects__category {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      justify-self: flex-start; }
      @media (max-width: 50em) {
        .projects__right .projects__category {
          align-self: center; } }
    .projects__right .projects__title {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      justify-self: flex-start;
      margin-bottom: .5rem; }
      @media (max-width: 50em) {
        .projects__right .projects__title {
          align-self: center;
          z-index: 1000; } }
    .projects__right .projects__info {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      justify-self: flex-start; }
      @media (max-width: 50em) {
        .projects__right .projects__info {
          opacity: 0;
          display: none; } }
    .projects__right .projects__view {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      justify-self: flex-start; }
      @media (max-width: 50em) {
        .projects__right .projects__view {
          opacity: 0;
          display: none; } }
  .projects__view {
    display: inline;
    z-index: 1000;
    background-image: linear-gradient(#f93700, #f93700);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 0.1rem;
    transition: background-size .3s ease; }
    .projects__view:not(.coming-soon):hover {
      background-position: 0 100%;
      background-size: 100% 0.1rem; }
    .projects__view svg {
      margin-left: 0.2rem;
      height: 0.8rem;
      width: 0.8rem; }
  .projects__cursor {
    position: absolute;
    width: 50rem;
    height: 30rem;
    top: 400%;
    left: 50%;
    transform: scale(0.5);
    opacity: 0;
    margin: -100px 0 0 -100px;
    background-repeat: no-repeat;
    background-origin: 50% 50%;
    background-size: cover; }
    @media (max-width: 37.5em) {
      .projects__cursor {
        display: none; } }
  .projects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998; }
  .projects__project-container {
    position: relative;
    color: #5E5351;
    z-index: 999;
    transition: color .2s ease, opacity .5s ease-out, transform .5s ease-out; }
    .projects__project-container svg {
      stroke: #5E5351;
      transition: stroke .2s ease; }
  .projects__project-container:hover {
    color: #f93700;
    cursor: none; }
    .projects__project-container:hover svg {
      stroke: #f93700; }
  @media (max-width: 37.5em) {
    .projects__1 {
      animation: lightUp-1 5s infinite; } }
  @media (max-width: 37.5em) {
    .projects__2 {
      animation: lightUp-2 5s infinite; } }
  @media (max-width: 37.5em) {
    .projects__3 {
      animation: lightUp-3 5s infinite; } }
  @media (max-width: 37.5em) {
    .projects__4 {
      animation: lightUp-4 5s infinite; } }
  .projects__5 {
    margin-bottom: 22rem; }
    @media (max-width: 37.5em) {
      .projects__5 {
        animation: lightUp-5 5s infinite; } }
  .projects__6 {
    margin-top: 1.2rem; }
    @media (max-width: 50em) {
      .projects__6 {
        margin-top: 0; } }
    @media (max-width: 37.5em) {
      .projects__6 {
        animation: lightUp-6 5s infinite; } }
  @media (max-width: 37.5em) {
    .projects__7 {
      animation: lightUp-7 5s infinite; } }
  @media (max-width: 37.5em) {
    .projects__8 {
      animation: lightUp-8 5s infinite; } }
